.nav-link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;

  &:not(:last-child) {
    margin-right: 3rem;
  }
}

.burger-icon {
  margin-right: 2rem;
}

.mat-toolbar.mat-primary {
  background: #050e1a;
  border-bottom: 1px solid #1a2a3c;
}
